/*.RGS {
    border-width: 3px;
    width:50%;
}
*/

@media only screen and (min-width:1000px) and (orientation:landscape) {
    .RGS{
        /* width: calc("100% - 750px"); */
        break-inside: avoid-column;
    } 

   



    body{
        column-count:2;
        
    }

    .c1{
        width:600px;
    }
    .c2{
      /*  float:right;*/
        width:calc("100% - 600px");
    }
}

.RGS{width:100%}

.grp {
    padding:5px;

}
.c1{
    width:600px;
}
.gameBoard {
    display:inline-block;
   /* width:600px;*/

}

.current{
    display:inline-block;
    border-width: 3px;
    border-color: #95e0d0;
}

.slider{
    margin-top:5px;
    margin-bottom:5px;
    
    display: block;
    width: 75%;
    float:right;
}

.button{
    
  font-size: 18px;
  
  text-shadow:1px1px #888;
    padding: 15px 32px;
    background-color: #95e0d0;
    border-radius: 10%;
    color: black;
    display: inline-block;
    border: none;
    
    box-shadow: 0 5px #999;

    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight:800;
}
.button:hover{
    background-color: #85d0c0;
}

.button:active {
    background-color: #75c0b0;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }



body{
    background-color: rgb(19, 15, 15);
    color:blanchedalmond;
}

.rgfin{
    margin: 5pt;
}
.rglp{
    font-weight:800;
    font-size: 20px;
  /*  width:33%;*/
   padding: 12px 0 0 0;
    display: inline-block;
}

.rginput{
    
    font-weight:800;
    font-size: 20px;
 /*   width:25%;*/
  
}


.history{
    pointer-events:none

}

.grp{
    column-count: 3;
    width:auto;
}
.grp>button{
    padding: 10px 30px
}